body {
    font-family: 'Quicksand', sans-serif;
}

.jumbotron {
    background-image: url('/images/study1.jpg');
    color: white;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: baseline;
    justify-content: top;
    margin: 0;
}

.jumbotron_container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}

.jumbotron h1 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 70px;
    font-weight: lighter;

}

.jumbotron_info {
    font-style: italic;
    font-size: 20px;
    padding: 10px;

}

.social_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 20px;
}

.compendiums_container {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.compendiums_container div {
    background-color: #7A58A0;

    margin: 20px;
    max-width: 200px;
    color: white;
}

.compendiums_container h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

.compendiums_container p {
    text-align: center;
    background-color: #A074D3;
    padding: 10px;
}

.compendium_container h1 {
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 80px;
    font-size: 50px;
    font-weight: lighter;
}
